{% assign limit = section.settings.grid | times: section.settings.rows %}

{% paginate collection.products by limit %}

{% include 'breadcrumb' %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 and section.settings.enable_sidebar %}
  {% assign has_sidebar = true %}
{% endif %}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="grid grid-border">

    {% if has_sidebar %}
    <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
      {% include 'collection-sidebar' %}
    </aside>
    {% endif %}

    <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

      {% comment %}
        Different markup if description is set
      {% endcomment %}
      {% if collection.description != blank %}
        <header class="section-header">
          <h1 class="section-header--title h1">{{ collection.title }}</h1>
          <div class="rte rte--header">
            {{ collection.description }}
          </div>
        </header>
        <hr{% if has_sidebar %} class="hr--offset-left"{% endif %}>
        <div class="section-header">
          <div class="section-header--right">
            {% include 'collection-sorting' %}
            {% include 'collection-views' %}
            {% include 'toggle-filters' %}
          </div>
        </div>
      {% else %}
      <header class="section-header">
        <h1 class="section-header--title section-header--left h1">{{ collection.title }}</h1>
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </header>
      {% endif %}

      <div class="grid-uniform">
        {%- case section.settings.grid -%}
          {%- when '2' -%}
            {%- assign grid_item_width = 'medium--one-half large--one-half' -%}
            {%- assign image_size = '540x600' -%}
            {%- assign width = '540' -%}
            {%- assign height = '600' -%}
          {%- when '3' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-third large--one-third' -%}
            {%- assign image_size = '345x550' -%}
            {%- assign width = '345' -%}
            {%- assign height = '550' -%}
          {%- when '4' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-quarter large--one-quarter' -%}
            {%- assign image_size = '250x' -%}
            {%- assign width = '250' -%}
            {%- assign height = '225' -%}
          {%- when '5' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-fifth large--one-fifth' -%}
            {%- assign image_size = '195x' -%}
            {%- assign width = '195' -%}
            {%- assign height = '125' -%}
        {%- endcase -%}

        {% for product in collection.products %}
          {% comment %}
          {% if has_sidebar %}
            {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
          {% else %}
            {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
          {% endif %}
          {% endcomment %}
          {% include 'product-grid-item' with grid_item_width, product: all_products[product.handle] %}

        {% else %}

          <div class="grid-item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endfor %}

      </div>

    </div>

    {% if paginate.pages > 1 %}
    <div class="grid-item pagination-border-top">
      <div class="grid">
        <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% endpaginate %}



{% schema %}
{
  "name": {
    "da": "Kollektion",
    "de": "Kategorie",
    "en": "Collection",
    "es": "Colección",
    "fi": "Kokoelma",
    "fr": "Collection",
    "hi": "कलेक्शन",
    "it": "Collezione",
    "ja": "コレクション",
    "ko": "컬렉션",
    "nb": "Samling",
    "nl": "Collectie",
    "pt-BR": "Coleção",
    "pt-PT": "Coleção",
    "sv": "Produktserie",
    "th": "คอลเลกชัน",
    "zh-CN": "收藏",
    "zh-TW": "商品系列"
  },
  "class": "collection-template-section",
  "settings": [
    {
      "type": "select",
      "id": "grid",
      "label": {
        "da": "Produkter pr. række",
        "de": "Produkte per Reihe",
        "en": "Products per row",
        "es": "Productos por fila",
        "fi": "Tuotteita per rivi",
        "fr": "Produits par rangée",
        "hi": "प्रति पंक्ति उत्पाद",
        "it": "Prodotti per riga",
        "ja": "行あたりの商品数",
        "ko": "열 별 제품",
        "nb": "Produkter per rad",
        "nl": "Producten per rij",
        "pt-BR": "Produtos por linha",
        "pt-PT": "Produtos por linha",
        "sv": "Produkter per rad",
        "th": "สินค้าต่อแถว",
        "zh-CN": "每行产品数",
        "zh-TW": "每列產品數"
      },
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": {
            "da": "2",
            "de": "2",
            "en": "2",
            "es": "2",
            "fi": "2",
            "fr": "2",
            "hi": "2",
            "it": "2",
            "ja": "2",
            "ko": "2",
            "nb": "2",
            "nl": "2",
            "pt-BR": "2",
            "pt-PT": "2",
            "sv": "2",
            "th": "2",
            "zh-CN": "2",
            "zh-TW": "2"
          }
        },
        {
          "value": "3",
          "label": {
            "da": "3",
            "de": "3",
            "en": "3",
            "es": "3",
            "fi": "3",
            "fr": "3",
            "hi": "3",
            "it": "3",
            "ja": "3",
            "ko": "3",
            "nb": "3",
            "nl": "3",
            "pt-BR": "3",
            "pt-PT": "3",
            "sv": "3",
            "th": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "da": "4",
            "de": "4",
            "en": "4",
            "es": "4",
            "fi": "4",
            "fr": "4",
            "hi": "4",
            "it": "4",
            "ja": "4",
            "ko": "4",
            "nb": "4",
            "nl": "4",
            "pt-BR": "4",
            "pt-PT": "4",
            "sv": "4",
            "th": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "da": "5",
            "de": "5",
            "en": "5",
            "es": "5",
            "fi": "5",
            "fr": "5",
            "hi": "5",
            "it": "5",
            "ja": "5",
            "ko": "5",
            "nb": "5",
            "nl": "5",
            "pt-BR": "5",
            "pt-PT": "5",
            "sv": "5",
            "th": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": {
        "da": "Rækker pr. side",
        "de": "Zeilen pro Seite",
        "en": "Rows per page",
        "es": "Filas por página",
        "fi": "Rivejä per sivu",
        "fr": "Rangées par page",
        "hi": "प्रति पृष्ठ पंक्तियां",
        "it": "Righe per pagina",
        "ja": "ページあたりの行数",
        "ko": "페이지 별 열",
        "nb": "Rader per side",
        "nl": "Rijen per pagina",
        "pt-BR": "Linhas por página",
        "pt-PT": "Linhas por página",
        "sv": "Rader per sida",
        "th": "แถวต่อหน้า",
        "zh-CN": "每页行数",
        "zh-TW": "每頁列數"
      },
      "default": "6",
      "options": [
        {
          "value": "3",
          "label": {
            "da": "3",
            "de": "3",
            "en": "3",
            "es": "3",
            "fi": "3",
            "fr": "3",
            "hi": "3",
            "it": "3",
            "ja": "3",
            "ko": "3",
            "nb": "3",
            "nl": "3",
            "pt-BR": "3",
            "pt-PT": "3",
            "sv": "3",
            "th": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "da": "4",
            "de": "4",
            "en": "4",
            "es": "4",
            "fi": "4",
            "fr": "4",
            "hi": "4",
            "it": "4",
            "ja": "4",
            "ko": "4",
            "nb": "4",
            "nl": "4",
            "pt-BR": "4",
            "pt-PT": "4",
            "sv": "4",
            "th": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "da": "5",
            "de": "5",
            "en": "5",
            "es": "5",
            "fi": "5",
            "fr": "5",
            "hi": "5",
            "it": "5",
            "ja": "5",
            "ko": "5",
            "nb": "5",
            "nl": "5",
            "pt-BR": "5",
            "pt-PT": "5",
            "sv": "5",
            "th": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        },
        {
          "value": "6",
          "label": {
            "da": "6",
            "de": "6",
            "en": "6",
            "es": "6",
            "fi": "6",
            "fr": "6",
            "hi": "6",
            "it": "6",
            "ja": "6",
            "ko": "6",
            "nb": "6",
            "nl": "6",
            "pt-BR": "6",
            "pt-PT": "6",
            "sv": "6",
            "th": "6",
            "zh-CN": "6",
            "zh-TW": "6"
          }
        },
        {
          "value": "7",
          "label": {
            "da": "7",
            "de": "7",
            "en": "7",
            "es": "7",
            "fi": "7",
            "fr": "7",
            "hi": "7",
            "it": "7",
            "ja": "7",
            "ko": "7",
            "nb": "7",
            "nl": "7",
            "pt-BR": "7",
            "pt-PT": "7",
            "sv": "7",
            "th": "7",
            "zh-CN": "7",
            "zh-TW": "7"
          }
        },
        {
          "value": "8",
          "label": {
            "da": "8",
            "de": "8",
            "en": "8",
            "es": "8",
            "fi": "8",
            "fr": "8",
            "hi": "8",
            "it": "8",
            "ja": "8",
            "ko": "8",
            "nb": "8",
            "nl": "8",
            "pt-BR": "8",
            "pt-PT": "8",
            "sv": "8",
            "th": "8",
            "zh-CN": "8",
            "zh-TW": "8"
          }
        }
      ]
    },
    {
      "type": "radio",
      "id": "collection_sidebar_filters",
      "label": {
        "da": "Produktfiltre i sidebjælke",
        "de": "Produktfilter in Seitenleiste",
        "en": "Sidebar product filters",
        "es": "Filtros de productos de la barra lateral",
        "fi": "Sivupalkin tuotesuodattimet",
        "fr": "Filtres de produits de la barre latérale",
        "hi": "साइडबार उत्पाद फ़िल्टर",
        "it": "Filtri prodotto sidebar",
        "ja": "サイドバーの商品絞り込み",
        "ko": "사이드 바 제품 필터",
        "nb": "Produktfiltre i sidefelt",
        "nl": "Filters voor zijbalk",
        "pt-BR": "Filtros de produto na barra lateral",
        "pt-PT": "Filtros de produto na barra lateral",
        "sv": "Sidofältets produktfilter",
        "th": "ตัวกรองสินค้าในแถบด้านข้าง",
        "zh-CN": "侧边栏产品筛选器",
        "zh-TW": "側邊欄產品篩選條件"
      },
      "options": [
        {
          "value": "tags",
          "label": {
            "da": "Efter tag",
            "de": "Nach Tag",
            "en": "By tag",
            "es": "Por etiqueta",
            "fi": "Tunnisteen mukaan",
            "fr": "Par balise",
            "hi": "टैग द्वारा",
            "it": "Per tag",
            "ja": "タグ別",
            "ko": "태그 별",
            "nb": "Etter tagg",
            "nl": "Per tag",
            "pt-BR": "Por tag",
            "pt-PT": "Por etiqueta",
            "sv": "Efter tagg",
            "th": "ตามแท็ก",
            "zh-CN": "按标签",
            "zh-TW": "依標籤"
          }
        },
        {
          "value": "groups",
          "label": {
            "da": "Efter gruppe",
            "de": "Nach Gruppe",
            "en": "By group",
            "es": "Por grupo",
            "fi": "Ryhmän mukaan",
            "fr": "Par groupe",
            "hi": "समूह द्वारा",
            "it": "Per gruppo",
            "ja": "グループ別",
            "ko": "그룹 별",
            "nb": "Etter gruppe",
            "nl": "Per groep",
            "pt-BR": "Por grupo",
            "pt-PT": "Por grupo",
            "sv": "Efter grupp",
            "th": "ตามกลุ่ม",
            "zh-CN": "按组",
            "zh-TW": "依群組"
          }
        }
      ],
      "info": {
        "da": "[Få mere at vide om opsætning af gruppefiltre](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "de": "[Erfahre, wie du Filtergruppen einrichtest](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "en": "[Learn how to set up filter groups](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "es": "[Obtén información sobre cómo configurar los grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "fi": "[Lisätietoja suodatinryhmien käyttöönotosta](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "fr": "[Apprenez à configurer les groupes de filtres](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "hi": "[जानें कि फ़िल्टर समूह कैसे सेट करें](https://help.shopify.com/manual/use-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "it": "[Scopri come configurare i gruppi di filtri](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "ja": "[フィルターグループの設定方法について、もっと詳しく](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。",
        "ko": "[필터 그룹 설정 자세히 알아보기](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "nb": "[Finn ut hvordan du konfigurerer filtergrupper](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "nl": "[Bekijk hoe je filtergroepen instelt](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "pt-BR": "[Saiba como criar grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "pt-PT": "[Saiba como criar grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "sv": "[Lär dig att konfigurera filtergrupper](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "th": "[ดูวิธีตั้งค่ากลุ่มตัวกรอง](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)",
        "zh-CN": "[了解如何设置筛选器组](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。",
        "zh-TW": "[瞭解如何設定篩選條件群組](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。"
      }
    },
    {
      "type": "checkbox",
      "id": "product_show_compare_at_price",
      "label": {
        "da": "Vis sammenligningspris",
        "de": "Vergleichspreis anzeigen",
        "en": "Show compare at price",
        "es": "Mostrar precio de comparación",
        "fi": "Näytä vertailuhinta",
        "fr": "Afficher le prix normal",
        "hi": "मूल्य पर तुलना देखें",
        "it": "Mostra Prezzo di confronto",
        "ja": "割引前価格を表示する",
        "ko": "비교가 표시",
        "nb": "Vis prissammenligning",
        "nl": "Prijsvergelijking weergeven",
        "pt-BR": "Exibir Comparação de preços",
        "pt-PT": "Mostrar preço comparado",
        "sv": "Visa ursprungspris",
        "th": "แสดงราคาเปรียบเทียบ",
        "zh-CN": "显示原价",
        "zh-TW": "顯示售價"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_saved_amount",
      "label": {
        "da": "Vis besparelse",
        "de": "Gesparten Betrag anzeigen",
        "en": "Show saved amount",
        "es": "Mostrar monto ahorrado",
        "fi": "Näytä säästetty summa",
        "fr": "Afficher le montant économisé",
        "hi": "सहेजी गई राशि दिखाएं",
        "it": "Mostra importo risparmiato",
        "ja": "保存された金額を表示",
        "ko": "저장 금액 표시",
        "nb": "Vis spart beløp",
        "nl": "Bespaard bedrag weergeven",
        "pt-BR": "Exibir valor salvo",
        "pt-PT": "Mostrar valor poupado",
        "sv": "Visa sparade belopp",
        "th": "แสดงจำนวนที่บันทึกไว้",
        "zh-CN": "显示已保存的金额",
        "zh-TW": "顯示省下金額"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_reviews_enable",
      "label": {
        "da": "Aktivér produktanmeldelser",
        "de": "Produktbewertungen aktivieren",
        "en": "Enable product reviews",
        "es": "Habilitar reseñas de productos",
        "fi": "Ota tuotearvostelut käyttöön",
        "fr": "Activer les avis sur les produits",
        "hi": "उत्पाद समीक्षा सक्षम करें",
        "it": "Abilita recensioni di prodotto",
        "ja": "商品レビューを有効にする",
        "ko": "제품 리뷰 사용",
        "nb": "Aktiver produktanmeldelser",
        "nl": "Productbeoordelingen inschakelen",
        "pt-BR": "Habilite as avaliações de produtos",
        "pt-PT": "Ativar as análises de produtos",
        "sv": "Aktivera produktrecensioner",
        "th": "เปิดรีวิวสินค้า",
        "zh-CN": "启用产品评论",
        "zh-TW": "啟用產品評論"
      },
      "info": {
        "da": "Installer den gratis Shopify-app [Produktanmeldelser](https://apps.shopify.com/product-reviews) for at tilføje produktanmeldelser.",
        "de": "Installiere die kostenlose Shopify-App [Product Reviews](https://apps.shopify.com/product-reviews), um Produktbewertungen hinzuzufügen.",
        "en": "Install the free Shopify [Product Reviews](https://apps.shopify.com/product-reviews) app to add product reviews.",
        "es": "Instala la aplicación gratis de Shopify [Product Reviews](https://apps.shopify.com/product-reviews) para agregar reseñas de productos.",
        "fi": "Asenna ilmainen Shopify [tuotearvostelut](https://apps.shopify.com/product-reviews) -sovellus tuotearvostelujen lisäämiseen.",
        "fr": "Installer l'application Shopify gratuite [Product Reviews](https://apps.shopify.com/product-reviews) pour ajouter des avis sur les produits.",
        "hi": "नि: शुल्क Shopify इंस्टाल करें [उत्पाद समीक्षा](https://apps.shopify.com/product-reviews) उत्पाद समीक्षा जोड़ने के लिए ऐप.",
        "it": "Installa l'app gratuita di Shopify [Recensioni Prodotto](https://apps.shopify.com/product-reviews) per aggiungere delle recensioni di prodotto.",
        "ja": "無料のShopify[商品レビュー](https://apps.shopify.com/product-reviews)をインストールしてください商品レビューを追加するためのアプリです。",
        "ko": "무료 Shopify [제품 리뷰] 를 설치하십시오.(https://apps.shopify.com/product-reviews) 제품 리뷰 추가 앱",
        "nb": "Installer den gratis Shopify [Produktanmeldelser](https://apps.shopify.com/product-reviews) appen for å legge til produktanmeldelser.",
        "nl": "Installeer de gratis Shopify [Productbeoordelingen](https://apps.shopify.com/product-reviews) app om productbeoordelingen toe te voegen",
        "pt-BR": "Instale o app gratuito da Shopify [Avaliações de Produtos](https://apps.shopify.com/product-reviews) para adicionar avaliações de produtos.",
        "pt-PT": "Instale a aplicação gratuita da Shopify [Análises de produtos](https://apps.shopify.com/product-reviews) para adicionar análises de produtos.",
        "sv": "Installera den fria Shopify [Produktrecensioner](https://apps.shopify.com/product-reviews) app för att lägga till produktrecensioner.",
        "th": "ติดตั้งแอป Shopify [รีวิวสินค้า](https://apps.shopify.com/product-reviews) เพื่อเพิ่มรีวิวสินค้าฟรี",
        "zh-CN": "安装免费 Shopify [产品评论](https://apps.shopify.com/product-reviews) 应用以添加产品评论。",
        "zh-TW": "免費安裝 Shopify [Product Reviews](https://apps.shopify.com/product-reviews) 應用程式以新增產品評論。"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": {
        "da": "Aktivér sidebjælke",
        "de": "Seitenleiste aktivieren",
        "en": "Enable sidebar",
        "es": "Habilitar barra lateral",
        "fi": "Ota sivupalkki käyttöön",
        "fr": "Activer la barre latérale",
        "hi": "साइडबार सक्षम करें",
        "it": "Attiva sidebar",
        "ja": "サイドバーを有効にする",
        "ko": "사이드 바 사용",
        "nb": "Aktiver sidefelt",
        "nl": "Zijbalk inschakelen",
        "pt-BR": "Habilitar barra lateral",
        "pt-PT": "Ativar barra lateral",
        "sv": "Aktivera sidofältet",
        "th": "เปิดใช้งานแถบด้านข้าง",
        "zh-CN": "启用侧边栏",
        "zh-TW": "啟用側邊欄"
      },
      "default": true
    }
  ]
}
{% endschema %}
