{%- if section.settings.image != blank -%}
  {%- assign image = section.settings.image -%}
    <section class="c-sample-section">
      <div class="c-sample-section__inner">
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <div class="lazyload__image-wrapper">
          <div class="no-js product__image-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
            <img
              class="lazyload js"
              src="{{ image | img_url: '300x' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ image.alt | escape }}">
          </div>
        </div>
      </div>
    </section>
{%- endif -%}
{% schema %}
{
  "name": "Sample Section",
  "settings": [
  {
    "label": "Image",
    "id": "image",
    "type": "image_picker",
    "info": "drop an image"
  }
  ]
}
{% endschema %}
